.comment {
  padding: 5px 12px;
  /* margin: 0.8rem 0rem; */
}
.comment p {
  font-size: 0.9rem;
}

.comment:nth-child(even) {
  background: linear-gradient(49deg, rgba(253,78,51,0.1) 0%, rgba(244,110,58,0.1) 100%);
}