@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.feed__posts {
  background-color: #fff;
  margin-top: 24px;
  align-self: center;
}

.feed {
 background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}


.chat-forum {
  margin-top: 3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.chat {
  padding-right: 10px;
}


/* .poem-api {



  padding-right: 10px;

} */