
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.poem-btn {
    transition: all 0.2s ease-in-out;
 }
 .poem-btn:hover {
   box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
   transform: translateX(-3px);
 }

 .potd {
    font-family: "Lobster";
    font-size: 26px;
    color: #000;

 }

 .potd-span {
     display: block;
    font-family: 'Pacifico', cursive;
 }
 

 .MuiButton-containedSecondary {
  background: linear-gradient(49deg, rgba(253,78,51,1) 0%, rgba(244,110,58,1) 100%);

 }