.post {

  background: linear-gradient(49deg, rgba(253,78,51,1) 0%, rgba(244,110,58,1) 100%); 
  box-shadow: rgb(255, 244, 240) 1px 1px 35px 0px;
  padding: 0.2rem 0rem 2px 0rem;
  border-radius: 12px;
  margin: 2rem 0rem;
}

.innerPost {
  max-width: 600px;
  width: 100%;
  /* margin-top: 30px; */
  border-radius: 12px;
  width: 100%;
  background: #fff;

  /* background: linear-gradient(-30deg ,#000 45%,#141414 0); */
}


.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 0.5px solid #eff2f2;
  border-bottom: 0.5px solid #F8DDFF;
  
}

.post__header {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  background: linear-gradient(49deg, rgba(253,78,51,1) 0%, rgba(244,110,58,1) 100%);
  border-radius: 12px;
  box-shadow: 1px 1px 8px rgba(244,110,58,1);
}

.post__headerInfo {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #fff;
}

.post__bottom {
  padding: 6px 12px;
  background: linear-gradient(49deg, rgba(253,78,51,0.2) 0%, rgba(244,110,58,0.2) 100%);
}
